/* Style for the home container */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

/* Link styling */
.link-style {
    text-decoration: none;
    color: inherit;
}

/* Button styling */
.home-button-3s {
    flex-grow: 1; /* Allows the button to grow to fill the space */
    color: white; /* Ensures text color is white */
    font-size: 24px; /* Large text */
    border: none;
    border-radius: 20px; /* Rounded corners */
    cursor: pointer;
    outline: none; /* Removes focus outline */
    height: 60vh; /* Adjust height to be large but not full container height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none; /* No underline */
    font-weight: bold; /* Bold text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for a lifted effect */
    background-image: linear-gradient(135deg, #0097b2 0%, #7ed975 100%);

}

/* Flex container for the image and the text */
.content-container {
    display: flex; /* This ensures elements are side by side */
    align-items: center; /* Aligns items to the same vertical height */
    justify-content: center; /* Centers content horizontally */
    margin-bottom: 15px; /* Adds space below */
}

/* Image styling */
.coin-image {
    width: 50px;
    height: 50px;
    margin-right: 10px; /* Space between image and text */
}

/* Text styling */
.amount-text {
    font-size: 28px;
    font-weight: bold;
}

/* Action text styling */
.action-text {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
